[submodule "nvim"]
	path = nvim
	url = https://github.com/edmundo2009/nvim
[submodule "PowerShell"]
	path = PowerShell
	url = https://github.com/edmundo2009/PowerShell
[submodule "Dotfile-Automizer"]
	path = Dotfile-Automizer
	url = https://github.com/edmundo2009/Dotfile-Automizer
